# Clases protegidas: solo el profesor puede aprobar cambios
/src/com/virreymorcillo/zoo/model/Animal.java   @AlexMB1201
/src/com/virreymorcillo/zoo/model/Pet.java   @AlexMB1201
/src/com/virreymorcillo/zoo/model/Rinoceronte.java   @AlexMB1201
/.github/CODEOWNERS   @AlexMB1201
/.github/workflows/   @AlexMB1201